table {
	border: medium solid #000000;
	width: 50%;
}
td {
	border: thin solid green;
	text-align:center;
	width: 50%;
}
th{
	border: thin solid red;
	text-align:center;
	width: 50%;
	background-color:grey;
}
td:hover {
    background-color: grey;
}